/* .App {
  text-align: center;
} 푸터를 만들기 위해 아래의 .App과 footer을 추가함.*/

/* 헤더와 푸터의 두께 */
.bg-body-tertiary {
  height: 90px;

}

.header h2{ 
  display: flex;
  margin: 40px;
  font-weight: bold;
  background-color: #fff;
  text-align: left;

}

.small-text{
  font-size: 12px;
}

.vertical-bottom{
  vertical-align: middle;
}

.vertical-bottom2{
  vertical-align: 20%;
  line-height: 2.5;
}
  
  



h2 {
  font-size: 500px;
}






/* .d-inline-block align-top {
  margin-right: 50px;
} */

.me-auto {
  font-size: large;
  font-weight: bold;
 
}
#layoutSidenav {
  display: flex;
}
#layoutSidenav #layoutSidenav_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-225px);
}
#layoutSidenav #layoutSidenav_content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(-225px);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -225px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}
.sb-nav-fixed .sb-topnav {
  z-index: 1039;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 225px;
  height: 100vh;
  z-index: 1038;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 56px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 225px;
  top: 56px;
}

.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
}
.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}
.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #212529;
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-footer {
  background-color: #343a40;
}

.sb-sidenav-light {
  background-color: #f8f9fa;
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-footer {
  background-color: #e9ecef;
}

.App {
  display: flex;
  flex-direction: column;
  height: 300px;
  min-height: 100vh;
  /* gap: 24px; 가운데 컨텐츠와 헤더푸터 간 간격 */
  

}

.loginContainer{
  align-self: center;
  background-color: #f0f0f0;
  border: 1px solid #282c34;
  border-radius: 20px;


}


/* 중간헤더 */
.topbar.navbar-light {
  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $gray-400;
        &:hover {
          color: $gray-500;
        }
        &:active {
          color: $gray-600;
        }
      }
    }
  }
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
  color: #d1d3e2;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: #b7b9cc;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: #858796;
}

/* 전체 페이지 */
.pages{
  justify-content: center; /* 수평 가운데 정렬 */
  /* align-items: center; 수직 가운데 정렬 */
  align-self: center;
  min-height: 100vh; 
  /* 뷰포트(Viewport)의 높이(세로 길이)를 100%로 설정 */
  width: 100%; /* 컨텐츠의 가로 너비 조정 */
  /* background-color: #f0f0f0; */
  border: 0 1px solid #282c34;
  /* border-radius: 20px; */
  margin: 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* 뷰포트 높이에 맞게 설정 */
  height: 60%; 
  /* 좌우 공간 */
  padding: 20px;

}


/* 가운데 내용 영역 */
.pageAlign { 
  /* margin: 20%; */
  border-top:  2px  solid #d1d3e2; /* 아래쪽 경계선  */

  justify-content: left; /* 수평 가운데 정렬 */
  /* align-items: center;  */
  /* 수직 가운데 정렬 */
  align-self: center;
  min-height: 100vh; /* 뷰포트(Viewport)의 높이(세로 길이)를 100%로 설정 */
  width: 100%; /* 컨텐츠의 가로 너비 조정 */
  /* background-color: #e9ecef; */
  /* margin: 0 40px ; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
  /* 뷰포트 높이에 맞게 설정 */
  height: 10%; 
  /* 좌우 공간 */
  padding: 5% 20%;

}

.pageAlign2 { 
  /* margin: 20%; */
  border-top:  2px  solid #d1d3e2;/* 아래쪽 경계선  */

  justify-content: left; /* 수평 가운데 정렬 */
  /* align-items: center;  */
  /* 수직 가운데 정렬 */
  align-self: center;
  min-height: 100vh; /* 뷰포트(Viewport)의 높이(세로 길이)를 100%로 설정 */
  width: 100%; /* 컨텐츠의 가로 너비 조정 */
  /* background-color: #e9ecef; */
  /* margin: 0 40px ; */
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* 뷰포트 높이에 맞게 설정 */
  height: 10%; 
  /* 좌우 공간 */
  padding: 50px 41.5%;

}


.logincheckbox{
  /* border: 2px solid #e9ecef; */
  text-align: center;

}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* 푸터에 대한 스타일 */
/* footer {
  margin-top: auto; */

  /* 페이지의 나머지 내용 아래에 배치 */
/* } */

/* .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
} */
